/* O asterisco significa: 'Vale para todo mundo no site' */
*{
    /* Tira as margens grudadas nas bordas que o navegador coloca sozinho */
    margin: 0;
    /* Tira o espaço interno padrão */
    padding: 0;
    /* Faz com que o tamanho da caixa não mude se colocar bordas */
    box-sizing: border-box; 
} 

body{
    height: 10000px;
    background-color: gainsboro;
    color: rgb(19, 32, 32);
}

/*Container Geral*/
#container{
    width: 100%; /* Garante que em telas pequenas ele ocupe a tela toda */
    padding-top: 7.5vh;
}

/*Caixa Superior fixa*/
#barrafixa{
    height: 8vh;
    width: 100%;
    background-color: rgb(19, 32, 32);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#barrafixalinks{
    justify-content: right;
    margin-left: auto;
}

#barrafixalinks a{
    font-family: Helvetica;
    color: gainsboro;
    margin: 0 1vw;
}


#nome h1{
    color: gainsboro;
    font-family: Arial;
    margin-right: auto;
    padding-left: 1vh;
    font-size: 50px;
}

/*Banner/Hero principal*/
#banner-principal{
    position: relative;
    background-color: gainsboro;
}

#banner-principal img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 60%);
    mask-image: linear-gradient(to right, transparent 10%, black 60%);
}


@media (max-width: 601px) {
    #banner-principal img{
        height: 70%;
    }

}

/* Conteúdo acima dos banners */
.banner-content{
    position: absolute;
    z-index: 3;
    top: 50%;         
    left: 15%;
    transform: translateY(-50%);
    font-family: arial;
}

.banner-content h1{
    margin: 2vh 0;
    font-size: 60px;
}

.banner-content p{
    margin: 2vh 0;
    padding-left: 0.6vw;
    font-size: 20px;
}

.banner-content button{
    width: 14vw;
    height: 6vh;
    border-radius: 1000px;
    border: none;
    background-color: rgb(19, 32, 32);
    color: gainsboro;
    font-size: 2vh;
    margin: 1vh 1vw 0 0;
}

#acesso-button{
    width: 14vw;
    height: 6vh;
    border-radius: 1000px;
    border: none;
    background-color: #CB916E;
    color: rgb(19, 32, 32);
    font-size: 2vh;
    margin: 0 1vw;
}


/* Caixa inferior esquerda */

#caixas-inferiores{
    border: 1px solid palevioletred;
    width: 100%;
    display: flex;
}

#caixa-inferior-left{
    margin: 4vh 5vw;
    width: 30vw;
    position: relative;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: top;
}

@media (max-width: 601px) {
    #caixa-inferior-left{
        margin-left: 10vw;
    }
}



#caixa-inferior-left img{
    width: 40vw;
    height: 50vh;
}

@media (max-width: 601px) {
    #caixa-inferior-left img{
        height: 20vh;   
    }
}



.banner-content{
    position: absolute;
    z-index: 3;
    top: 50%;         
    left: 15%;
    transform: translateY(-50%);
    font-family: arial;
}

#caixa-inferior-left-content{
    position: absolute;
    z-index: 3;
    font-family: arial;
    font-size: 25px;
    text-align: center;
}

#caixa-inferior-left-content h1{
    margin: 2.5vh 0;

}


#button-portfolio-card{
    width: 14vw;
    height: 6vh;
    border-radius: 1000px;
    border: none;
    background-color: rgb(19, 32, 32);
    color: gainsboro;
    font-size: 2vh;
    margin: 4vh auto;
 
}

/* Caixa inferior direita */
#caixa-inferior-right{
    margin: 4vh 5vw 4vh 23vw;
    width: 30vw;
    position: relative;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: top;
}


#caixa-inferior-right img{
    width: 40vw;
    height: 50vh;
}







/* Adaptação Mobile */
@media (max-width: 601px) {
    .banner-content button{
        font-size: 1.2vh;
        height: 3vh;
        width: 20vw;
    }
}


@media (max-width: 601px) {
    .banner-content h1{
        font-size: 3vh;
        margin: 1vh 0;
    }
}

@media (max-width: 601px) {
    .banner-content p{
        font-size: 1.5vh;
        margin: 1vh 0;
    }
}

@media (max-width: 601px) {
    #acesso-button{
        font-size: 1.2vh;
        height: 3vh;
        width: 20vw;

    }
}

@media (max-width: 601px) {
    #nome h1{
        font-size: 5vh;
    }
}

@media (max-width: 601px) {
    #barrafixalinks a{
        font-size: 1.5vh;
    }
}

@media (max-width: 601px) {
    #barrafixa{
        height: 6vh;
    }
}

@media (max-width: 601px) {
    #container{
        padding-top: 5vh;
    }
}








/*⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠹⢿⡿⠏⢻⢿⠉⣿⣰⡟⠈⠘⠀⠀⠀⠀⠀⠰⠁⠘⠀⠘⠀⣿⠏⠀⢸⠃⢁⡛⣼⣿⣿⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⠁⢱⠟⣻⢋⠎⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⠿⣿⣿⣿⡽⠝⢿⣿⡄⠘⠃⠀⠟⠀⠀⠘⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠁⠀⠀⢁⡟⢃⠁⣻⣿⡿⣿⡏⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⡿⠟⠋⡉⠿⢿⣿⣿⣿⡿⠁⠀⠀⠐⠀⠑⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⢻⣿⠇⠀⠈⠃⠇⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⢧⠙⢐⣿⣿⡿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⢏⠔⣹⣿⡿⠏⠀⠔⠵⣾⡿⠏⣉⠉⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢨
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢿⡈⠑⡀⠂⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⣼⡟⡻⣷⣿⣿⣿⣿⣿⣿⣿⣿⡿⠣⢁⣮⡟⡡⠂⠀⠀⠀⠐⠀⠒⠀⠢⡤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡕⢷⢁⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢀⣿⢋⣾⣿⣿⣿⣿⣿⣿⡟⡀⠁⣶⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈
⣿⣿⣿⣿⣿⣿⣟⢿⢿⣷⣕⣌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠁⣽⢯⣾⣿⣿⣿⡟⡴⠰⠗⠸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⣰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘
⣿⣿⣿⣿⣏⠿⣿⡧⡀⠢⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⢀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣬⣿⣿⣿⣿⢸⡇⡻⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰
⣿⣿⣿⣿⣿⢧⠈⣿⠘⠀⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⡠⠂⠀⠀⠀⠀⠀⠀⠁⠐⠀⠀⡀⠤⠀⠀⠀⠀⠀⠀⠉⠈⠀⠁⢀⠤⠀⠀⠘⠏⢸⢏⣽⣿⣞⢡⠃⡀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰
⣿⣿⣿⣿⣿⡆⠀⠈⠅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠄⡤⠆⠀⠀⠀⢠⠀⢀⠂⠀⠀⠀⠀⠀⠀⢀⠀⠀⢀⡀⠀⠀⠄⠀⠀⠀⠀⠀⢠⣄⠀⠰⢫⣿⣿⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣮⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠜⠀⠀⠀⠀⠂⠂⠀⠀⠀⠀⠀⠀⠂⠀⠐⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠋⠀⠀⠀⢰⢷⠿⡿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸
⣿⣿⣿⡟⠉⠉⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⡇⠠⢠⠋⠀⠀⠀⠀⠆⠀⢠⣴⣾⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠏⠠⠈⡄⠀⠘⢈⢰⢃⡌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰
⣿⣿⣿⣿⣷⣢⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⡠⢠⢃⣀⡾⠀⠀⠀⠀⠃⢀⣴⣿⣿⡿⠛⠀⢀⣀⣠⢤⡄⢀⣀⣀⠀⠀⠄⠀⠀⢀⠀⠀⠚⠀⠀⠀⠻⡀⠸⠘⠘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⣴⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⢠
⣿⣿⣿⣭⡥⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠁⠇⠀⡂⠁⠀⠀⠀⠀⠁⠀⣿⡿⠟⠉⢀⡴⢚⣋⡩⠅⡀⡀⡀⠉⠉⠙⠀⠀⡀⠑⠄⠀⠀⠀⠀⢠⡄⣠⡇⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⢘⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⢠
⣿⣿⣿⡷⠤⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠈⠢⠀⠂⠁⠀⠀⠀⠠⢄⠀⠀⠋⠀⠀⣠⣤⣶⣿⣮⣭⣗⣺⠶⠶⠦⣤⣄⡂⠀⠈⠤⠀⠂⠀⠀⡫⡀⠈⠁⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠂⢁⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⢈
⣿⣿⣿⣿⣿⣤⣍⠑⠀⠀⠀⠀⠀⠀⠀⠤⣤⠐⠀⠀⠁⠀⠀⠀⡀⠔⡈⠐⢐⠂⢀⣠⣾⣿⣿⣿⣿⣿⣿⣿⡟⠻⢫⠔⣤⡉⠻⣄⢄⠀⠀⠀⠁⠐⠀⠀⠀⡈⠀⠀⢀⠠⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣟⣃⣀⠀⠀⠀⠀⠀⠀⢰⠔⠊⠋⠀⠀⠀⢀⢠⡠⢄⣨⣵⡴⠪⠴⡾⠿⠛⢿⣿⣟⡛⡛⠛⡭⠛⢛⡷⢦⡁⠈⠙⡢⡈⠑⢄⠠⠀⡀⠐⡀⠀⠀⠀⠀⠀⠸⣧⡱⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣷⣶⣁⣤⡠⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣴⣤⣈⣙⣛⣁⣀⡁⠁⣤⣶⣾⣿⣿⣿⡿⠆⠂⠀⠀⠀⠈⠑⠪⠳⣄⠈⠂⣀⠈⠳⣔⠔⠀⠐⠀⠀⠀⠀⠁⠀⠹⣷⣷⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣯⡤⠤⠀⠀⠀⠀⢀⣀⠤⣄⣤⡸⣿⡿⡏⢉⠉⠉⠉⢀⣸⣿⣿⠿⠟⠛⢁⣄⡀⠠⡠⡀⠀⠀⠀⢠⠐⠢⡑⡄⡈⠡⡀⠈⢎⠁⠀⢣⠐⡈⠀⠀⠀⠀⠘⡏⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⢘
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⡀⠀⠀⣤⣶⣿⠟⠁⠀⠰⡑⠌⠁⠀⠒⠾⢿⡿⠛⣁⠌⣠⣤⣜⢿⣿⡆⠊⢪⣦⠑⠄⠀⠁⠈⠈⠪⣠⠂⡈⢀⠈⢢⢦⡡⢣⠡⠀⠀⣿⡄⢀⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣋⣀⠀⢐⡻⡇⠰⠐⣠⣧⠡⠀⠄⢀⢀⠔⠁⠀⣠⣵⣦⡻⣿⣿⡦⠙⠮⢂⡁⠈⠀⠀⠀⠀⠀⠀⠢⠈⠩⠢⣀⠡⡀⢣⠀⠀⢂⠄⠀⠘⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣿⣷⣌⠉⠰⣰⣱⣿⡏⠀⣾⣾⠟⠁⠀⣠⣄⢿⣿⣿⣷⠈⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⢮⣦⡑⠠⢣⠀⢀⠈⠀⠀⠠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠅⣿⣿⡇⠰⣿⠁⠀⢄⡸⣿⣿⣦⠙⠃⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡄⠀⠑⢄⢻⣯⡀⠈⢆⡀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠿⣿⠇⠁⠃⠀⠀⢸⣷⡝⠟⠦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⣀⣄⠁⠈⣥⡀⠐⠠⠙⣿⡀⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⠛⢈⠄⡀⠀⠀⢡⡻⠓⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠠⡀⢔⣶⣿⣶⠊⢻⠁⠀⣤⣙⢢⠀⠀⠘⢯⡄⠈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠢⠈⠀⠀⠀⠡⠂⠀⣀⡀⡀⠀⠀⠀⠢⡀⡀⠀⢄⢀⣼⣿⣿⣏⠀⢀⠀⢸⣭⡙⠷⡁⠀⠀⠀⢻⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠒⠠⠀⠄⣸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠈⠢⠀⠀⠀⠁⠈⠁⠀⠀⠀⠈⠀⠨⣮⣶⣤⣿⣿⣿⣿⡷⠀⠀⢲⣭⣛⢿⡀⠗⠀⠀⠀⠐⡁⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⢠⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣀⠈⠐⠠⠀⠀⠀⠀⠀⠀⠀⠀⢢⣿⣿⣿⣿⣿⣿⠙⠁⠀⠀⣯⠻⣿⣷⡡⡀⠀⠀⢀⢁⠀⠀⠀⢈⠀⠀⠀⠀⠀⠀⠀⠀⡆⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠓⢄⠀⠀⠀⠀⠀⠀⠈⢿⣿⣿⡿⠛⢋⠂⢀⣄⠺⣿⣷⡘⣟⠃⠀⡀⠀⠠⠀⢀⠀⠀⠸⡀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠠⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣦⡀⠡⠀⢀⠀⠀⠐⢄⢄⡉⠁⠅⢀⣠⡐⢿⣿⣦⠈⢿⠇⢀⣀⢢⠁⠀⠄⠀⠀⠀⠀⠘⡇⡀⠀⠀⠀⠀⠀⢰⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠛⢁⠙⣻⡿⠛⢛⣶⣄⠀⠀⡔⢄⠀⠳⣄⢆⡳⣤⡙⢿⣦⢙⠛⠈⢀⣴⣿⠿⠃⠀⠀⠀⠀⠂⠀⠀⢠⡇⠅⠀⠀⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⢠⡇⢰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⠀⢘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣵⣿⣿⣿⣿⣿⣿⠃⠀⡌⡸⠟⠑⠀⢈⠁⠀⡰⢁⠈⢄⠃⢢⡈⠳⠝⢶⡩⠔⠉⢉⣤⣿⠿⠛⠁⠀⠀⣀⣴⡆⠨⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠃⠂⠀⠀⠀⠀⠀⠀⢸⡧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⡞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠋⢰⠏⣽⣿⣿⣿⡿⡡⠀⠀⠀⠆⠃⠀⠀⢂⠀⠀⠃⠀⠀⠠⡙⢄⠝⢆⠀⠀⠁⢀⣴⡿⠟⠁⠀⠀⣀⣤⣼⣿⡿⠿⠀⠀⠀⠀⢀⢡⡌⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⡘⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠄⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⡸⠏⣿⠋⢁⠄⠃⠀⠈⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠁⠀⠀⠉⠁⠀⠀⠀⣀⣼⣿⠿⠻⠉⠃⠀⠀⠀⠀⠀⠈⣡⠀⠀⠀⠀⡸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠂⠀⠀⠀⡀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣿⢻⠋⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡏⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡾⠟⡀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⡀⠈⠢⣀⠀⠈⠀⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠈⠻⢯⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⡠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡵⡀⠞⡁⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠄⡀⠠⢀⠁⠠⢀⠀⠁⠂⠄⢂⠤⢀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠂⢄⡀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⠁⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠁⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠲⢤⣚⡳⢶⣤⣤⣤⣤⣤⣀⣤⠒⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡏⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠲⠤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠓⠪⢑⡒⠂⠀⠠⣀⠀⠀⠀⠀⠀⠀⠂⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡴⠋⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣿⣿⡿⠿⠋⠵⡿⠁⢡⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠒⠀⠈⠉⠁⠐⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠞⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡜⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⣷⣿⢁⢱⠃⠰⠁⠀⠘⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠠⠤⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⡿⢸⢿⢸⠘⠀⡇⡎⠀⠀⠈⡀⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠠⠤⠒⡢⠈⠕⠀⠂⠉⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠁⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠈⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣷⠘⡆⢃⡀⠀⠀⢡⢀⠀⠀⠈⠀⠙⠳⠶⢦⣒⣒⣠⣀⡀⠠⢁⣒⠲⠉⠓⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⣿⠀⡀⠜⠘⡄⢄⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠒⠒⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⡟⣿⡄⡰⠀⠐⠀⢌⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⠏⠒⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⡀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⢀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⣿⡜⢧⡁⡀⢣⠀⠀⠱⣄⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣶⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠚⠛⠙⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⢄⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸*/