/* O asterisco significa: 'Vale para todo mundo no site' */
*{
    /* Tira as margens grudadas nas bordas que o navegador coloca sozinho */
    margin: 0;
    /* Tira o espaço interno padrão */
    padding: 0;
    /* Faz com que o tamanho da caixa não mude se colocar bordas */
    box-sizing: border-box; 
} 

/*Container Geral*/
#container{
    border: 1px solid red;
    width: 100%; /* Garante que em telas pequenas ele ocupe a tela toda */
    height: 100vh;
}

/*Caixa Superior fixa*/
#barrafixa{
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

#barrafixalinks{
    justify-content: right;
    margin-left: auto;
}

#barrafixalinks a{
    font-family: Helvetica;
    color: antiquewhite;
    margin: 0 1vw;
}


#nome h1{
    color: antiquewhite;
    font-family: Arial;
    margin-right: auto;
    padding-left: 1vh;
}

body{
    height: 2000px;
}