/* O asterisco significa: 'Vale para todo mundo no site' */
*{
    /* Tira as margens grudadas nas bordas que o navegador coloca sozinho */
    margin: 0;
    /* Tira o espaço interno padrão */
    padding: 0;
    /* Faz com que o tamanho da caixa não mude se colocar bordas */
    box-sizing: border-box; 
} 

body{
    height: 10000px;
    background-color: white;
}

/*Container Geral*/
#container{
    border: 1px solid red;
    width: 100%; /* Garante que em telas pequenas ele ocupe a tela toda */
    height: 100vh;
    padding-top: 7.5vh;
}

/*Caixa Superior fixa*/
#barrafixa{
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#barrafixalinks{
    justify-content: right;
    margin-left: auto;
}

#barrafixalinks a{
    font-family: Helvetica;
    color: white;
    margin: 0 1vw;
}


#nome h1{
    color: white;
    font-family: Arial;
    margin-right: auto;
    padding-left: 1vh;
}

/*Banner/Hero principal*/
#banner-principal{
    position: relative;
    background-color: #ffffff;
}

#banner-principal img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 60%);
    mask-image: linear-gradient(to right, transparent 10%, black 60%);
}


@media (max-width: 601px) {
    #banner-principal img{
        height: 70%;
    }

}

/* Conteúdo acima dos banners */
.banner-content{
    position: absolute;
    z-index: 3;
    top: 40%;         
    left: 15%;
    transform: translateY(-50%);
    font-family: arial;
    font-size: 25px;

}


.banner-content h1{
   
    margin: 4vh 0;
}

/* .blur{
    position: absolute;
    z-index: 2;
    top: 10%;         
    transform: translateY(-50%);
    background-color: antiquewhite;
    width: 35%;
    height: 180%;

} */